@import "tailwindcss";

:root {
  --background: var(--color-darkBlue);
  /* --foreground: #171717; */
}

@theme {
  --color-fuschia: #c013c3;
  --color-orange: #e66131;
  --color-cyan: #31e3d7;
  --color-purple: #4c0aa8;
  --color-yellow: #deb200;
  --color-darkBlue: #030515;
  --color-lightBackground: #0c0e1c;
  --color-lighterBackground: #2b2d39;
  --font-oswald: "Oswald", sans-serif;
}

@layer utilities {
  .font-oswald {
    font-family: "Oswald", sans-serif;
  }
}

@theme inline {
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
